@font-face {
    font-family: "LCD-2N"; /* Choose a name for your font */
    src: url("lcdfont/lcd2n___-webfont.woff") format("truetype"); /* Specify the correct path and format */
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Recommended for better performance/user experience */
}

*{
	margin: 0;
	padding: 0;
	--margin: 0px;
	--border-radius: 0.5em;
}

body {
	overflow: hidden;
}

html {
	width: 100vw;
	height: 100vh;
	scroll-behavior: smooth;
	background-color: rgba(28, 43, 33, 0.884);
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	overflow-wrap: break-word;
}

timer-container {
    text-align: center;
}

#countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: 'LCD-2N', sans-serif;
    font-size: 60px;
	color: #f8e757;
	filter: blur(1.5px);
	text-shadow: 0px 0px 15px #f90808;
	
}

#dateContainer {
	position: absolute;   
    bottom: 8.5%;
    right: 4%;
	transform: translate(-0%, -50%);
	font-family: 'LCD-2N', sans-serif;
	font-size: 20px;
	color: #f8e757;
	filter: blur(1px);
	text-shadow: 0px 0px 8px #f908089c;
}

#dateContainer2 {
	position: absolute;   
    bottom: 8.5%;
    right: 4%;
	transform: translate(-0%, -50%);
	font-family: 'LCD-2N', sans-serif;
	font-size: 20px;
	color: #f90808;
	filter: blur(3px);
}

#overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #d8d8d8;
	z-index: 999999;
	/*transition: 0ms; */
}

#titleContainer {
	position: absolute;   
    bottom: 5%;
    right: 4%;
	transform: translate(-0%, -50%);
	font-family: 'LCD-2N', sans-serif;
	font-size: 20px;
	color: #f8e757;
	filter: blur(1px);
	text-shadow: 0px 0px 8px #f908089c;
	
}

#titleContainer2 {
	position: absolute;   
    bottom: 5%;
    right: 4%;
	transform: translate(-0%, -50%);
	font-family: 'LCD-2N', sans-serif;
	font-size: 20px;
	color: #f90808;
	filter: blur(3px);
	
}

#statusContainer {
	font-weight: 500;
	font-size: 30px;
	text-align: center;
	background-color: #D12025;
	color: white;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.statusConnected {
	animation-name: statusConnected;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes statusConnected {
	0% {
		opacity: 1;
		background-color: #2FB774;
	}

	100% {
		opacity: 0;
		background-color: #2FB774;
	}
}

.statusDisconnected {
	animation-name: statusDisconnected;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes statusDisconnected {
	0% {
		background-color: #D12025;
	}

	100% {
		background-color: #D12025;
	}
}

/*.overlay.show {
	visibility: visible;
	opacity: 1;
	transition-delay: opacity 0s ease-in, visibility 0ms ease-in 0ms;
}  */